<div id="welcome-block">
  <div class="loading-section">
    <div class="loading-content">
         <img src="https://cdn.shopify.com/s/files/1/0802/1649/0262/files/Untitled.gif?v=1745565140"  width="100" height="100">
    </div>
  </div>
</div>
{% schema %}
{
  "name": "BundleApp",
  "target": "section",
  "stylesheet": "product-slider.css",
  "javascript": "welcome.js",
}
{% endschema %}
